.audioPlayer{

    --primary: rgb(133, 241, 166);
    --secondary: yellow;

    align-items: center;  
  display:flex;
  justify-content: center;
  width: 700px; 
 
}

.forwardBackward{
    background:none ;
    border:none;
    display: flex;
    align-items: center;
font-family: monospace;
font-size: 18px;
cursor: pointer;
color: rgb(226, 32, 210);
box-shadow: white;
}

.forwardBackward:hover{
 color: var(--primary);
}

.playPause{
    background: var(--primary);
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play{
    position: relative;
    left: 5px
}
.currenttime .duration{

    font-family: monospace;
    font-size: 16px;

}

.currenttime{
    margin-left: 25px;
}

.progressBar{
    --bar-bg: #ffe3d4;
    --seek-before-width: 100px;
    --seek-before-color: #ffc2a1;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;

    appearance: none;
    background: var(--bar-bg);
    border-radius:  10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline:none

}
/* firefox bar progress */
.progressBar::-moz-range-track{
    background: var(--bar-bg);
    border-radius:  10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline:none
}
.progressBar::-moz-focus-outer{
    border: 0;
}
/* chrome/safari */
.progressBar::before{
content: '';
height: 11px;
width: var(--seek-before-widht);
background-color: var(--seek-before-color);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
position:absolute;
top:0;
left:0;
z-index: 2;
cursor: pointer;
}

/*  firefox */
.progressBar::-moz-range-progress{
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
}
.progressBar::-webkit-slider-thumb{
    -webkit-appearance:none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:none;
    background-color: var(--knobby);
    cursor:pointer;
    position: relative;
    margin: -2px 0 0 0 ;
    z-index:3;
    box-sizing: border-box;


}
/* knobby while dragging chrome&safari */
.progressBar:active::webkit-slider-thumb{

    transform: scale(1.2);
    background-color: var(--selectedKnobby);

}

/* knobby firefox */

.progressBar::-moz-range-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:transparent;
    background-color: var(--knobby);
    cursor:pointer;
    position: relative;
    z-index:3;
    box-sizing: border-box; 
}

/* gragging in firefox */
.progressBar:active::-moz-range-thumb{
    transform: scale(1.2);
    background-color: var(--selectedKnobby);

}

.customAudio {
    width: 70%;
    margin-bottom: 10px;
    /* Add more styles as needed */
  
    /* Example hover effect */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
  }
  
  .customAudio:hover {
    background-color: #3d91f0; /* Change background color on hover */
  }
